<dict>
  <key>WebAppInstallForceList</key>
  <array>
    <dict>
      <key>url</key>
      <string>https://mail.google.com/</string>
      <key>default_launch_container</key>
      <string>window</string>
    </dict>
    <dict>
      <key>url</key>
      <string>https://calendar.google.com/</string>
      <key>default_launch_container</key>
      <string>window</string>
    </dict>
    <dict>
      <key>url</key>
      <string>https://meet.google.com/</string>
      <key>default_launch_container</key>
      <string>window</string>
    </dict>
    <dict>
      <key>url</key>
      <string>https://chat.google.com/</string>
      <key>default_launch_container</key>
      <string>window</string>
    </dict>
    <dict>
      <key>url</key>
      <string>https://drive.google.com/</string>
      <key>default_launch_container</key>
      <string>window</string>
    </dict>
    <dict>
      <key>url</key>
      <string>https://docs.google.com/document/</string>
      <key>default_launch_container</key>
      <string>window</string>
    </dict>
    <dict>
      <key>url</key>
      <string>https://docs.google.com/spreadsheets/</string>
      <key>default_launch_container</key>
      <string>window</string>
    </dict>
    <dict>
      <key>url</key>
      <string>https://docs.google.com/presentation/</string>
      <key>default_launch_container</key>
      <string>window</string>
    </dict>
  </array>
</dict>
